@import "tailwindcss";


.marquee-animation {
    animation: marquee 30s linear infinite;
}


@keyframes marquee {
  from { translate: 0; }
  to { translate: -100%; }
}


.feature-block:not(:last-child) {
  &::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 150px;
    background-color: rgba(237, 240, 238, 0.25);
    top: 50%;
    right: -80px;
    transform: translateY(-50%);
  }
}

.section-end-line::after{
  content: '';
  position: absolute;
  width: 100%;
  max-width: 900px;
  height: 1px;
  background: rgba(245, 245, 245, 0.10);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


.join-elipse{
  position: absolute;
  width: 120px;
  height: 120px;
  filter: blur(125px);
}

.join-elipse_1{
  position: absolute;
  top: 0;
  background-color: #32CAFD;
}

.join-elipse_2{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #7214FF;
}

.join-elipse_3{
  position: absolute;
  bottom: 0;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5865F2;
}

.client-card:nth-child(odd) .client-card-bg {
  background: linear-gradient(to right, #4A044E, #065F46);
}

.client-card:nth-child(even) .client-card-bg {
  background: linear-gradient(to right, #4A044E, #0E1330);
}

.employers-info{
  position: relative;
}


.employers-info::after{
  content: "";
  position: absolute;
  width: 7rem;
  height: 7rem;
  bottom: -1rem;
  transform: rotate(45deg);
  background: #15141D;
  z-index: -10;
}